/* Add these CSS rules to your existing styles.css file */

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
}

.main-div {
    margin-top: 4rem;
}
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 2rem;
}
  
.grid-item {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    padding: 10px;
}

.grid-item img {
    width: 100%;
    /* height: auto; */
    height: 14rem;
    border-radius: 0.5rem;
}

.main-div h1 {
    font-size: 1.5rem;
    display: flex;
    margin-left: 2rem;
    padding-top: 1rem;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
